
/*Rooms deluxe*/
.rooms-1-deluxe-1{
	padding:0;
	
}
.rooms-1-deluxe-1 {
	margin: 3em 0em 0em;
}

.rooms-1-deluxe-1 {
	min-height: 440px;
}

.rooms-1-deluxe-1 {
	min-height: 220px;
}

.rooms-1-deluxe1 {
background: url(../images/deluxe_suite1.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}


.rooms-1-deluxe-2{
	padding:0;
	
}
.rooms-1-deluxe-2 {
	margin: 3em 0em 0em;
}

.rooms-1-deluxe-2 {
	min-height: 440px;
}

.rooms-1-deluxe-2 {
	min-height: 220px;
}

.rooms-1-deluxe-2{
background: url(../images/deluxe_suite2.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}

.rooms-1-deluxe-3{
	padding:0;
	
}
.rooms-1-deluxe-3 {
	margin: 3em 0em 0em;
}

.rooms-1-deluxe-3 {
	min-height: 440px;
}

.rooms-1-deluxe-3 {
	min-height: 220px;
}

.rooms-1-deluxe-3{
background: url(../images/deluxe_suite3.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}


.rooms-1-deluxe-4{
	padding:0;
	
}
.rooms-1-deluxe-4 {
	margin: 3em 0em 0em;
}

.rooms-1-deluxe-4 {
	min-height: 440px;
}

.rooms-1-deluxe-4 {
	min-height: 220px;
}

.rooms-1-deluxe-4{
background: url(../images/deluxe_suite4.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}


.rooms-1-deluxe-5{
	padding:0;
	
}
.rooms-1-deluxe-5 {
	margin: 3em 0em 0em;
}

.rooms-1-deluxe-5 {
	min-height: 440px;
}

.rooms-1-deluxe-5 {
	min-height: 220px;
}

.rooms-1-deluxe-5{
background: url(../images/deluxe_suite5.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}


/*Rooms medical*/
.rooms-3-medical-1{
	padding:0;
	
}
.rooms-3-medical-1 {
	margin: 3em 0em 0em;
}

.rooms-3-medical-1 {
	min-height: 440px;
}

.rooms-3-medical-1 {
	min-height: 220px;
}

.rooms-3-medical-1 {
background: url(../images/medical_suite1.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}


.rooms-3-medical-2{
	padding:0;
	
}
.rooms-3-medical-2 {
	margin: 3em 0em 0em;
}

.rooms-3-medical-2 {
	min-height: 440px;
}

.rooms-3-medical-2 {
	min-height: 220px;
}

.rooms-3-medical-2{
background: url(../images/medical_suite2.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}

.rooms-3-medical-3{
	padding:0;
	
}
.rooms-3-medical-3 {
	margin: 3em 0em 0em;
}

.rooms-3-medical-3 {
	min-height: 440px;
}

.rooms-3-medical-3 {
	min-height: 220px;
}

.rooms-3-medical-3{
background: url(../images/medical_suite3.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}


.rooms-3-medical-4{
	padding:0;
	
}
.rooms-3-medical-4 {
	margin: 3em 0em 0em;
}

.rooms-3-medical-4 {
	min-height: 440px;
}

.rooms-3-medical-4 {
	min-height: 220px;
}

.rooms-3-medical-4{
background: url(../images/medical_suite4.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}


.rooms-3-medical-5{
	padding:0;
	
}
.rooms-3-medical-5 {
	margin: 3em 0em 0em;
}

.rooms-3-medical-5 {
	min-height: 440px;
}

.rooms-3-medical-5 {
	min-height: 220px;
}

.rooms-3-medical-5{
background: url(../images/medical_suite5.png) no-repeat;
display: block;
background-size: cover;
min-height: 540px;
border-radius: 50px;
}